# macOS
.DS_Store

# IDE
.vscode/
.idea/

# OS
Thumbs.db

# Flutter build artifacts
build/
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

# IDE settings
.idea/
.vscode/

chari-spot.db